<template>
  <nav class="flex bg-gray-800">
    <NavLink class="px-8" to="/" name="Home" />
    <NavLink to="/plots" name="Plots" />
  </nav>
</template>

<script>
import NavLink from '@/components/NavLink'
export default {
  name: 'NavBar',
  components: {
    NavLink
  }
}
</script>