<template>
  <router-link :to="to" class="text-xl text-white font-semibold px-2 py-3">{{ name }}</router-link>
</template>

<script>
export default {
  props: {
    to: String,
    name: String,
  }
}
</script>