<template>
  <div>
    <div :id="id"></div>
  </div>
</template>

<script>
import Plotly from "plotly.js-dist"

export default {
  name: "Plotly",
  props: {
    id: {
      type: String,
      required: false,
      default: null
    },
    data: {
      type: Array,
      required: true
    },
    layout: {
      type: Object,
      required: false,
      default: () => { return {} }
    },
    options: {
      type: Object,
      required: false,
      default: () => { return {} }
    }
  },
  data() {
    return {
      plotlyLayout: { ...this.layout }
    }
  },
  mounted() {
    Plotly.newPlot(this.$el, this.data, this.plotlyLayout, this.options)
  }
}
</script>