<template>
  <div class="mx-auto w-3/4">
    <Plotly 
      :data="data" :layout="layout"
    />
  </div>
</template>

<script>
import Plotly from '@/components/Plotly'

export default {
  components: {
    Plotly
  },
  data() {
    return {
      data: [
        {
          x: [1, 2, 3, 4, 5],
          y: [1, 4, 9, 16, 25],
          type: "scatter",
          name: "test 1"
        },
        {
          x: [1, 2, 3, 4, 5],
          y: [1, 2, 3, 4, 5],
          type: "scatter",
          name: "test 2"
        }
      ],
      layout: {
        title: "Test Plot"
      }
    }
  }
}
</script>